extends layout

include mixins/_resourceForm

block content
  h2= title
  +resourceForm(resource)

  <div class="modal" id="DeleteResourceModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Resource: <span class="delete-modal-resource-name"></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete your resource <span class="delete-modal-resource-name"></span>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          a.btn.btn-danger#DeleteResourceConfirm(href=`/resource/${resource.slug}/delete`) Delete
        </div>
      </div>
    </div>
  </div>
