extends layout

block content
  h1= title
  p Welcome to #{title}
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque laborum reprehenderit veniam asperiores adipisci similique autem, dolore quisquam corrupti molestias voluptas dolorum molestiae ipsam voluptates a cum maiores. Nisi, obcaecati! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore vero iusto voluptatibus ut accusamus ex omnis perspiciatis consequatur, architecto dolorum labore suscipit laboriosam, laudantium unde nam non culpa voluptatem inventore.
