doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
    link(rel='stylesheet', href='/dist/style.css')
  body
    .sidebar
      a.home-link(href="/")
        img.logo(src="../images/sickintech-logo-color.png" alt="Sick in Tech logo")
        h1.site-title= h.siteName
      .about
        p Resources to better understand what it's like to have a chronic or invisible illness in tech. 
      nav
        ul.nav.flex-column
          li.nav-item
            a.nav-link(href="/resources", class=(currentPath.startsWith('/resources') ? 'nav-active' : '')) Resources
          li.nav-item
            a.nav-link(href="/add", class=(currentPath.startsWith('/add') ? 'nav-active' : '')) Add a Resource
          li.nav-item
            a.nav-link(href="/about", class=(currentPath.startsWith('/about') ? 'nav-active' : '')) About
          li.nav-item
            a.nav-link(href="/contact", class=(currentPath.startsWith('/contact') ? 'nav-active' : '')) Contact
      .nav-footer
        ul.nav.justify-content-center
          li.nav-item
            a.nav-link(href="/login") Login
          li.nav-item
            a.nav-link(href="/register") Register
    .body-content
      .container-fluid
        .row
          .content.col-lg-6
            block content